<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
        <springProfile name="prod">
          <!-- 
            本番環境用設定
            :本番では”APPLICATIONINSIGHTS_ENABLE_AGENT true” の設定により、
            アペンダーがなくてもApplication Insightes のエージェントが
            取得してくれます.
            本番環境ではSPRING_PROFILES_ACTIVE=prod を設定してください。
            -->
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>OFF</level>
          </filter>  
        </springProfile>
        
    </appender>


    <!-- ルート -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>